@import url('https://fonts.googleapis.com/css?family=Caveat&amp;subset=latin-ext');
.last5{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    font-family: 'Caveat', cursive;
    margin-top:100px;
}
.scoreboard{
    display:flex;
    font-size:20px;
    width: 50vw;
    justify-content: space-around;
}

.team{
    padding:20px;
}